* {
  -webkit-border-radius: 0 !important;
	 -moz-border-radius: 0 !important;
		  border-radius: 0 !important;
}

body {
	padding-top: 70px; /* because of nav bar top fixed */
}

.glyphicon-refresh-animate {
	animation: spin .7s infinite linear;
}

@keyframes spin {
	from { transform: scale(1) rotate(0deg);}
	to { transform: scale(1) rotate(360deg);}
}

input[type=text], input[type=password] {
	
}

input[type=button], input[type=submit] {
	
}

select {
	
}

button.btn {
	
}

.dropdown-lang {
	width: 74px;
	max-width: unset;
	min-width: unset;
	padding-left: 0px;
	padding-right: 0px;
}

.dropdown-lang > li {
	width: 72px;
	max-width: unset;
	min-width: unset;
	padding-left: 0px;
	padding-right: 0px;
}

.table-super-condensed > thead > tr > th,
.table-super-condensed > tbody > tr > th,
.table-super-condensed > tfoot > tr > th {
  padding: 4px;
}

.table-super-condensed > thead > tr > td,
.table-super-condensed > tbody > tr > td,
.table-super-condensed > tfoot > tr > td {
  padding: 1px;
}

.condensed-form > div {
	margin-bottom: 3px;
}