<div class="container-fluid">
    <a href="telescope/new" class="btn btn-primary">New</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>URL</th>
                <th>UserName</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="tel in telescopes">
                <td>{{ tel.Id }}</td>
                <td>{{ tel.Name }}</td>
                <td>{{ tel.Address }}</td>
                <td>{{ tel.AccountName }}</td>
                <td>{{ tel.AccountPassword }}</td>
                <td><a href="telescope/{{ tel.Id }}"><span class="glyphicon glyphicon-list"></span></a></td>
            </tr>
        </tbody>
    </table>
</div>